<thead id="20_FO_TF_SQ_theadQuote" style="position:sticky;top:110px;z-index:10000;">
    <tr>
        <th id="20_FO_TF_SQ_thStockName" rowspan="2" onclick="sortPriceboard('20_FO_TF_SQ');" style="cursor: pointer;">
            CK
        </th>
        <th rowspan="2">
            Sàn
        </th>

        <th rowspan="2" class="grey">
            Trần
        </th>
        <th rowspan="2" class="grey">
            Sàn
        </th>
        <th rowspan="2" class="grey">
            TC
        </th>
        <th colspan="6">
            Dư mua
        </th>
        <th rowspan="2" style="display:none;" id="20_FO_TF_SQ_thStockName2">CK</th>
        <th id="20_FO_TF_SQ_thMatchedInfo" colspan="4" class="grey">
            Khớp Lệnh
        </th>
        <th colspan="6">
            Dư bán
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thChangePrice2" style="display: none;">
            +/-
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thChangePercent2" style="display: none;">
            %+/-
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thTotalShares2" style="display: none;">
            KLGD
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thTotalValue2" style="display: none;">
            GTGD
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thOpenPrice" style="">
            Mở
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thHighestPrice" style="">
            Cao
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thLowestPrice" style="">
            Thấp
        </th>
        <th rowspan="2" class="grey" style="" id="20_FO_TF_SQ_thAvgPrice">
            TB
        </th>
        <th colspan="2">
            GD NĐT NN
        </th>
        <th rowspan="2" id="20_FO_TF_SQ_thForeignRoom"><span>Room<br>NN</span></th>
        <th rowspan="2" id="20_FO_TF_SQ_thRemainRoomPercent" style="">%<br>Còn lại</th>
        <th rowspan="2" id="20_FO_TF_SQ_thPTTotalQtty" style="">KL<br>Thỏa thuận</th>
        <th rowspan="2" class="w35 MarginRatio" style="display:none;">
            Tỷ lệ ký quỹ
        </th>
    </tr>
    <tr>
        <th>
            Giá
            3
        </th>
        <th>
            KL
            3
        </th>
        <th>
            Giá
            2
        </th>
        <th>
            KL
            2
        </th>
        <th>
            Giá
            1
        </th>
        <th>
            KL
            1
        </th>
        <th class="grey">
            Giá
        </th>

        <th class="grey" id="20_FO_TF_SQ_thChangePrice">
            +/-
        </th>
        <th class="grey" id="20_FO_TF_SQ_thChangePercent" style="display: none;">
            %+/-
        </th>
        <th class="grey">
            KL
        </th>
        <th class="grey" id="20_FO_TF_SQ_thTotalShares">
            KLGD
        </th>
        <th class="grey" id="20_FO_TF_SQ_thTotalValue" style="display: none;">
            GTGD
        </th>

        <th>
            Giá
            1
        </th>
        <th>
            KL
            1
        </th>
        <th>
            Giá
            2
        </th>
        <th>
            KL
            2
        </th>
        <th>
            Giá
            3
        </th>
        <th>
            KL
            3
        </th>

        <th>
            Mua
        </th>
        <th>
            Bán
        </th>

    </tr>
</thead>