<div id="20_FO_TF_SQ_divPriceboardList" class=" stock_quote_list" style="height: auto; position: relative; overflow: inherit; display: block;">
    <table id="20_FO_TF_SQ_tbQuote" class=" table  table-priceboard" style="margin-bottom:0px">
        @Html.Partial("BodyHomeThead")
        @Html.Partial("BodyHomeTBody")
    </table>
</div>