<thead>
    <tr>
        <th id="20_FO_TF_SQ_thFixStockName" rowspan="2" onclick="sortPriceboard('20_FO_TF_SQ');" style="cursor: pointer;" width="105px">
            CK
        </th>
        <th rowspan="2" width="35px">
            Sàn
        </th>

        <th rowspan="2" class="grey" width="51px">
            Trần
        </th>
        <th rowspan="2" class="grey" width="51px">
            Sàn
        </th>
        <th rowspan="2" class="grey" width="51px">
            TC
        </th>
        <th colspan="6" width="364px">
            Dư mua
        </th>
        <th rowspan="2" style="display:none;" id="20_FO_TF_SQ_thFixStockName2" width="">CK</th>
        <th colspan="4" id="20_FO_TF_SQ_thFixMatchedInfo" class="grey" width="262px">
            Khớp Lệnh
        </th>
        <th colspan="6" width="380px">
            Dư bán
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixChangePrice2" style="display: none;" width="">
            +/-
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixChangePercent2" style="display: none;" width="">
            %+/-
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixTotalShares2" style="display: none;" width="">
            KLGD
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixTotalValue2" style="display: none;" width="">
            GTGD
        </th>

        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixOpenPrice" style="" width="51px">
            Mở
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixHighestPrice" style="" width="51px">
            Cao
        </th>
        <th rowspan="2" class="grey" id="20_FO_TF_SQ_thFixLowestPrice" style="" width="51px">
            Thấp
        </th>
        <th rowspan="2" class="grey" style="" id="20_FO_TF_SQ_thFixAvgPrice" width="70px">
            TB
        </th>
        <th colspan="2" width="142px">
            GD NĐT NN
        </th>
        <th rowspan="2" id="20_FO_TF_SQ_thFixForeignRoom" width="77px"><span>Room<br>NN</span></th>
        <th rowspan="2" id="20_FO_TF_SQ_thFixRemainRoomPercent" style="" width="60px">%<br>Còn lại</th>
        <th rowspan="2" id="20_FO_TF_SQ_thFixPTTotalQtty" style="" width="99px">KL<br>Thỏa thuận</th>
        <th rowspan="2" class="w35 MarginRatio" style="display:none;" width="">
            Tỷ lệ ký quỹ
        </th>

    </tr>
    <tr>
        <th width="51px">
            Giá
            3
        </th>
        <th width="71px">
            KL
            3
        </th>
        <th width="51px">
            Giá
            2
        </th>
        <th width="71px">
            KL
            2
        </th>
        <th width="51px">
            Giá
            1
        </th>
        <th width="70px">
            KL
            1
        </th>
        <th class="grey" width="51px">
            Giá
        </th>
        <th class="grey" id="20_FO_TF_SQ_thFixChangePrice" width="54px">
            +/-
        </th>
        <th class="grey" id="20_FO_TF_SQ_thFixChangePercent" style="display: none;" width="">
            %+/-
        </th>
        <th class="grey" width="71px">
            KL
        </th>

        <th class="grey" id="20_FO_TF_SQ_thFixTotalShares" width="87px">
            KLGD
        </th>
        <th class="grey" id="20_FO_TF_SQ_thFixTotalValue" style="display: none;" width="">
            GTGD
        </th>

        <th width="51px">
            Giá
            1
        </th>
        <th width="71px">
            KL
            1
        </th>
        <th width="51px">
            Giá
            2
        </th>
        <th width="86px">
            KL
            2
        </th>
        <th width="51px">
            Giá
            3
        </th>
        <th width="71px">
            KL
            3
        </th>

        <th width="71px">
            Mua
        </th>
        <th width="71px">
            Bán
        </th>
    </tr>
</thead>