<div>
    <div class="left paging" id="20_FO_TF_SQ_pagingPriceBoardList"><a id="20_FO_TF_SQ_hrefPagingPriceBoardList1" onclick="javascript:pagingPriceBoardWithFavoriteList(1, '20_FO_TF_SQ');" class="active"><span>1</span></a><a id="20_FO_TF_SQ_hrefPagingPriceBoardList2" onclick="javascript:pagingPriceBoardWithFavoriteList(2, '20_FO_TF_SQ');"><span>2</span></a><a id="20_FO_TF_SQ_hrefPagingPriceBoardList3" onclick="javascript:pagingPriceBoardWithFavoriteList(3, '20_FO_TF_SQ');"><span>3</span></a><a id="20_FO_TF_SQ_hrefPagingPriceBoardList4" onclick="javascript:pagingPriceBoardWithFavoriteList(4, '20_FO_TF_SQ');"><span>4</span></a><a id="20_FO_TF_SQ_hrefPagingPriceBoardList5" onclick="javascript:pagingPriceBoardWithFavoriteList(5, '20_FO_TF_SQ');"><span>5</span></a><a id="20_FO_TF_SQ_hrefPagingPriceBoardList6" onclick="javascript:pagingPriceBoardWithFavoriteList(6, '20_FO_TF_SQ');"><span>6</span></a></div>
    <div class="left paging" id="20_FO_TF_SQ_processingPriceBoardList" style="margin-top: 8px; display: none;">
        <img alt="" src="Content/MBKE/Images/loadingsmall.gif">
    </div>
</div>